.about
    .container
        .about-first-title
            margin-bottom: 50px
            +bold
            font-size: 35px
        .about-list-tasks
            margin-bottom: 50px
            border: 2px solid #058d17
            border-radius: 5px
            background-color: #d9ffde78
            &__item
                padding: 10px
                font-size: 20px
                &:not(:first-child)
                    margin-left: 50px
                    list-style: disc
                &:first-child
                    list-style: none
                .list__title
                    font-size: 25px
                    border-bottom: 1px solid #058d17
                    &::before
                        content: url('../../images/about/clipboard.svg')
                        margin-right: 10px
                        display: inline-block
                        width: 25px
        .about-subtitle
            margin-bottom: 100px
            font-style: italic
            font-size: 20px
        .about-second-title, .about-underfooter-title 
            margin-bottom: 50px
            text-align: center
            color: $red
        .about-list-reasons
            margin-bottom: 50px
            display: flex
            flex-wrap: wrap
            justify-content: space-evenly
            .list-item
                margin-bottom: 50px
                width: 50vh
                padding: 20px
                border: 2px solid rgba(0, 0, 0,.3)
                border-radius: 5px
                &__image
                    margin: 0 auto 30px auto    
                &__title
                    margin-bottom: 10px
                    text-align: center
                &__description, &__list-lessons
                    +norm
                    line-height: 1.3
                    font-size: 18px
                &__list-lessons
                    .list-lessons__item
                        margin: 0 0 10px 20px
                        list-style: disc
        .faq
            margin-bottom: 50px
            border: 2px solid $red
            border-radius: 5px
            background-color: #fde8f17e
            &-list
                font-size: 20px
                &__item
                    padding: 10px
                    font-size: 20px
                    .btn-free-lesson
                        width: 500px
                        margin: 30px 0 10px 50%
                        padding: 20px
                        transform: translateX(-50%)
                        background: rgb(255,54,136)
                        background: linear-gradient(0deg, rgba(244,39,123,1) 0%, rgba(189,0,77,1) 100%)
                        border-radius: 5px
                        +bold
                        font-size: 25px
                        color: #ffffff
                        &:hover
                            background: linear-gradient(180deg, rgba(244,39,123,1) 0%, rgba(189,0,77,1) 100%)
                &__item:not(:first-child)
                    margin-left: 50px
                    list-style: disc
                &__item:first-child, &__item:last-child, .item-descroption
                    list-style: none
                .item-descroption
                    +bold
                    font-size: 20px
                &__item:last-child
                    padding: 0
                    margin: 0
                &__title
                    padding-bottom: 5px
                    font-size: 25px
                    border-bottom: 1px solid $red
                    &::before
                        content: url('../../images/about/interrogation.svg')
                        margin-right: 10px
                        display: inline-block
                        width: 25px
        .about-quote
            +bold

@media (max-width: 768px)
    .about
        .container
            .about-first-title
                margin-top: 20px
                font-size: 25px
            .faq
                &-list
                    &__item
                        .btn-free-lesson
                            padding: 15px
                            width: 80% 
                            font-size: 20px