section.spanish-section
    font-size: 18px
    padding: 30px 0
    &:nth-child(even)
        background-color: #F5F7F8
    &:last-child
        background-color: #fff
    h1 
        +bold
        font-size: 50px
        line-height: 65px
        text-align: center
    h2	
        font-size: 40px
        text-align: center
    .subtitle
        text-align: center
        margin-bottom: 40px
    .spanish-study-need
        margin: 30px 0
        padding: 10px 20px 20px
        box-shadow: 3px 3px 10px rgba(0,0,0,.2)
        p:first-child
            margin-bottom: 30px
    .spanish-price
        &-wrapper
            display: flex
            justify-content: space-between
            &-card
                max-width: 420px
                padding: 15px 15px
                box-shadow: 3px 3px 10px rgba(0,0,0,.2)
                h2
                    font-size: 25px
                &-content
                    &-subtitle 
                        font-size: 16px
                        margin: 10px 0
                        min-height: 35px
                    &-language-list
                        min-height: 250px
                        position: relative
                        &::after
                            content: ''
                            display: block
                            position: absolute
                            width: 100%
                            height: 1px
                            margin: 0 0 20px
                            bottom: 0
                            background-color: #BD004D
                        &-item
                            display: flex
                            margin-bottom: 10px
                            +bold
                            &-image
                                max-width: 40px
                                width: 100%
                                margin-right: 10px
                                img
                                    width: 100%
                    &-duration
                        &-title
                            font-size: 22px
                            +bold
                        &-time-wrapper
                            margin: 15px 0
                            display: flex
                        &-table
                            &-title
                                margin: 10px 0
                                font-size: 14px
                                display: flex
                                justify-content: space-between
                                +bold
                                color: #ffffff
                                background-color: #BD004D
                                padding: 7px 10px
                            &-content
                                display: flex
                                justify-content: space-around
                                margin: 10px 0
                                &-list
                                    &-item
                                        margin: 5px 0
    .spanish-knowledge
        &-wrapper
            display: flex
            justify-content: space-between
            align-items: center
            &-column
                width: 50%
                &-list
                    &-item
                        padding: 0 40px
                        margin-bottom: 40px
                        line-height: 24px
                        display: flex
                        min-height: 170px
                        &-image
                            margin-right: 20px
                            max-width: 30px
                            width: 100%
                            img
                                width: 100%
    .spanish-advantage
        &-wrapper
            margin: 30px 0
            display: flex
            justify-content: space-between
            align-items: center
            &-column
                width: 50%
                &-list
                    &-item
                        margin-top: 0
                        padding: 0 40px
                        line-height: 24px
                        min-height: 200px
                        &:not(:last-child)
                            margin-bottom: 50px
                        &-image
                            margin: 0 0 10px
                            max-width: 80px
                            width: 100%
                            img
                                width: 100%

@media screen and ( max-width: 1400px )
    section.spanish-section
        .spanish-price
            &-wrapper
                justify-content: center
                flex-wrap: wrap
                &-card
                    max-width: 45%
                    margin: 0 2.5%
                    &:last-child
                        margin-top: 30px
        .spanish-knowledge
            &-wrapper
                &-column
                    &-list
                        min-height: 520px
                        &-item
                            min-height: 240px
        .spanish-advantage
            &-wrapper
                margin: 30px 0
                display: flex
                justify-content: space-between
                align-items: center
                &-column
                    width: 50%
                    &-list
                        &-item
                            margin-top: 0
                            padding: 0 40px
                            line-height: 24px
                            min-height: 200px

@media screen and ( max-width: 1200px )
    section.spanish-section
        h1
            font-size: 40px
            line-height: 50px
        h2
            font-size: 35px
        .spanish-advantage
            &-wrapper
                &-column
                    &-list
                        &-item
                            min-height: 260px
                            &:not(:last-child)
                                margin-bottom: 80px

@media screen and ( max-width: 992px )
    section.spanish-section
        .spanish-price
            &-wrapper
                &-card
                    max-width: 60%
                    &:not(:first-child)
                        margin-top: 30px
        .spanish-knowledge
            &-wrapper
                display: block
                &-column
                    width: 100% 
                    &-list
                        min-height: 10px
                        &-item
                            padding: 0
                            width: 100% 
                            min-height: 10px
                            margin-bottom: 20px
        .spanish-advantage
            &-wrapper
                display: block
                &-column
                    width: 100%
                    &-list
                        &-item
                            min-height: 100px
                            display: flex
                            align-items: center
                            justify-content: center
                            margin-bottom: 20px
                            &:not(:last-child)
                                margin-bottom: 20px
                            &-image
                                margin-right: 10px

@media screen and ( max-width: 767px )
    section.spanish-section
        .spanish-price
            &-wrapper
                &-card
                    max-width: 80%
        .spanish-knowledge
            &-wrapper
                &-column
                    &-list
                        &-item
                            padding: 0
                            &-image
                                margin-right: 10px
        .spanish-advantage
            &-wrapper
                &-column
                    &-list
                        &-item
                            padding: 0
                            align-items: center
                            &-image
                                img
                                    width: 60px

@media screen and ( max-width: 575px )
    section.spanish-section
        padding: 15px 0
        font-size: 16px
        h1
            font-size: 26px
            line-height: 30px
            margin-bottom: 10px
        h2
            font-size: 23px
        .spanish-study-need
            padding: 5px 10px 10px
            margin: 0
        .spanish-price
            &-wrapper
                &-card
                    max-width: 100%
                    width: 100%
                    padding: 5px
                    margin: 0
                    &-content
                        &-language-list
                            min-height: 0
                            &::after
                                bottom: -20px
                        &-duration
                            &-title
                                font-size: 22px
                                +bold
                            &-time-wrapper
                                &-item 
                                    width: 50%
        .spanish-advantage
            &-wrapper
                &-column
                    &-list
                        &-item
                            align-items: start
                            flex-wrap: wrap
                            margin-bottom: 20px
                            &:not(:last-child)
                                margin-bottom: 20px
                            &-image
                                margin-right: 0
                                width: 60px