*
  box-sizing: border-box
  list-style: none
  -webkit-tap-highlight-color: transparent
a 
  text-decoration: none
body 
  font-family: 'Circe Regular', sans-serif
img 
  display: block
ul, li, p, h1, h2, h3, button
  margin: 0
  padding: 0 
form, input, button
  border: none
  outline: none
button
  cursor: pointer          
.container
  width: 100%
  max-width: 1328px
  margin: 0 auto
.logo
  display: flex
  align-items: center
  &__icon
    width: 50px
    height: 50px
  &__text
    width: 230px
    height: 50px 
.button-test
  width: 250px
  height: 50px
  background: $red 
  color: $white
  display: flex
  justify-content: center
  align-items: center
  +bold
  text-transform: uppercase
  letter-spacing: 1px 
  cursor: pointer
  transition: 0.3s
.button-test-active
  background: $white  
  color: $red
  box-shadow: 0px 0px 30px rgba(39, 49, 141, 0.06), 0px 8px 12px rgba(16, 25, 57, 0.04), 0px 1px 2px rgba(16, 25, 57, 0.04)
.section-title
  display: flex
  align-items: center
  flex-wrap: wrap
  +bold
  font-size: 48px
  line-height: 60px
  margin-bottom: 80px
  img 
    margin-left: 12px   
.courses-price
  &-wrapper
    display: flex
    justify-content: space-evenly
    &-card
      max-width: 420px
      padding: 15px 15px
      box-shadow: 3px 3px 10px rgba(0,0,0,.2)
      background-color: #ffffff
      &-content
        .courses-price-wrapper-card-content-title
          text-align: center
          +bold
          font-size: 25px
        &-subtitle 
          font-size: 16px
          margin: 10px 0
          min-height: 35px
        &-language-list
          min-height: 220px
          position: relative
          &::after
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 1px
            margin: 0 0 20px
            bottom: 0
            background-color: #BD004D
          &-item
            display: flex
            margin-bottom: 10px
            +bold
            &-image
              max-width: 40px
              width: 100%
              margin-right: 10px
              img
                width: 100%
        &-duration
          &-title
            font-size: 22px
            +bold
          &-time-wrapper
            margin: 15px 0
            display: flex
          &-table
            .ninty-min
              display: none
            &-title
              margin: 10px 0
              font-size: 14px
              display: flex
              justify-content: space-between
              +bold
              color: #ffffff
              background-color: #BD004D
              padding: 7px 10px
            &-content
              display: flex
              justify-content: space-around
              margin: 10px 0
              &-list
                &-item
                  margin: 5px 0

@media screen and ( max-width: 1700px )
  .courses-price
    &-wrapper
      flex-wrap: wrap
      &-card
        max-width: 40%
        &:nth-child(n+3)
          margin-top: 30px
@media screen and ( max-width: 1400px )
  .container
    max-width: 1100px
  .courses-price
    &-wrapper
      justify-content: center
      flex-wrap: wrap
      &-card
        max-width: 45%
        margin: 0 2.5%
@media screen and ( max-width: 1200px )
  .container
    max-width: 992px
  .courses-price
    &-wrapper
      &-card
        max-width: 60%
        &:not(:first-child)
          margin-top: 30px
        &-content
          &-duration
            &-table
              .main-lesson__test-button
                width: 100%
@media screen and ( max-width: 1024px )
  .container
    max-width: none
    padding: 0 16px
@media screen and ( max-width: 992px )
  .section-title
    font-size: 42px    
@media screen and ( max-width: 768px )
  .section-title
    font-size: 38px
    line-height: 44px 
    text-align: center
    justify-content: center
  .courses-price
    &-wrapper
      &-card
        max-width: 80%
@media screen and ( max-width: 576px )
  .section-title
    margin-bottom: 50px
  .container
    padding: 0 8px
  .logo
    &__icon
      width: 40px
      height: 40px
    &__text
      width: 180px
      height: 40px 
  .courses-price
    &-wrapper
      &-card
        max-width: 100%
        width: 100%
        padding: 5px
        margin: 0
        &-content
          &-language-list
            margin-bottom: 20px
            min-height: 190px
            &::after
              bottom: -20px
          &-duration
            &-title
              font-size: 22px
              +bold
            &-time-wrapper
              &-item 
                width: 50%
            .main-lesson__test-button
              width: 50%
                


    

  
           
      