html(lang='ru')

include includes/head.pug

body

	include includes/header.pug

	main.about
		section.about-section.about-tasks
			.container
				h1.title
					p LingvaFlavor – это команда профессионалов, талантливых и интересных преподавателей. 
					p Мы – люди, которые не просто любят свою работу – мы живем ей!
				ul.about-tasks-list
					li.about-tasks-list-item
						h2 Наши две основные задачи:
					li.about-tasks-list-item Научить Вас свободно, без смущений и затруднений говорить на иностранных языках на любом уровне сложности.
					li.about-tasks-list-item Сделать так, чтобы Вы полюбили язык, который изучаете!
		section.about-section.about-reasons
			.container
				h2.about-reasons-title.title-red.title 5 причин изучать иностранные языки по Скайпу в LingvaFlavor
				ul.about-reasons-list
						li.about-reasons-list-item
							.about-reasons-list-item-image
								img(src="images/about/individual.svg", alt="Индивидуальный подход")
							h3.about-reasons-list-item-title Индивидуальный подход
							p.about-reasons-list-item-text В онлайн школе LingvaFlavor Вы – сами себе хозяин! Вы можете самостоятельно выбрать преподавателя, а также время и интенсивность занятий. Вы определяете удобное для себя расписание, и мы подстраиваемся под Вас. Вы больше не зависите от расписания, которое предлагает школа! Вы можете заниматься хоть каждый день в любое удобное для Вас время из любого удобного для Вас места. Мы подбираем для Вас индивидуальную программу обучения, основанную на Ваших способностях, целях и времени, которое Вы готовы посвятить обучению.
						li.about-reasons-list-item
							.about-reasons-list-item-image
								img(src="images/about/strong.svg", alt="Сильные преподаватели")
							h3.about-reasons-list-item-title Сильные преподаватели
							p.about-reasons-list-item-text Наши преподаватели — это не просто люди, которые решили работать по специальности после получения диплома филолога. Это люди, которые живут своей работой, постоянно развиваются и предлагают захватывающие методы в своем подходе к преподаванию. Они делают так, что каждый урок становится чем-то особенным при этом не теряя своего профессионализма и следования методике.
						li.about-reasons-list-item
							.about-reasons-list-item-image
								img(src="images/about/method.svg", alt="Эффективная методика")
							h3.about-reasons-list-item-title Эффективная методика
							p.about-reasons-list-item-text Коммуникативная методика,которой следуют наши преподаватели, признана самой эффективной на сегодняшний момент – эта методика основана на практическом подходе к языку: Вы начинаете разговаривать с первого урока, даже если Вы на начальном этапе обучения. Это методика, которая заточена на результат.
						li.about-reasons-list-item
							.about-reasons-list-item-image
								img(src="images/about/result.svg", alt="Гарантированный результат")
							h3.about-reasons-list-item-title Гарантированный результат
							p.about-reasons-list-item-text Обучение в онлайн школе LingvaFlavor строго индивидуально! Это значит, что всё внимание преподавателя нацелено только на Вас. Больше не нужно ждать своей очереди, чтобы ответить на вопрос преподавателя или высказать свою точку зрения как при групповых занятиях! Ваш преподаватель – это Ваш личный репетитор, который заинтересован в результате точно так же как и Вы, а часто – даже больше!
						li.about-reasons-list-item
							.about-reasons-list-item-image
								img(src="images/about/availability.svg", alt="Доступность обучения и внимательное отношение")
							h3.about-reasons-list-item-title Доступность обучения и внимательное отношение
							ul.about-reasons-list-item-list-lessons
								li.about-reasons-list-item-list-lessons-item Минимальное время вашего занятия 60 минут, а не 45.
								li.about-reasons-list-item-list-lessons-item Больше не нужно оплачивать занятия за курс вперед – у нас Вы можете выбрать удобный пакет занятий.
								li.about-reasons-list-item-list-lessons-item «заморозка» Вашего баланса по первому требованию
								li.about-reasons-list-item-list-lessons-item Пробный урок и все учебные материалы – бесплатно!
		section.about-section.about-faq
			.container
				h2.about-faq-title.title-red.title Подходят ли занятия по скайпу для вас?
				ul.about-faq-list
					li.about-faq-list-item
						.about-faq-list-item-image
							img(src="images/about/study.svg", alt="Study")
						p Вы давно хотели заняться изучением языков, но не хватало времени и сил?
					li.about-faq-list-item
						.about-faq-list-item-image
							img(src="images/about/cut-money.svg", alt="Study")
						p Вы нашли удобную школу, но периодически пропускали занятия и теряли деньги, потому что слишком уставали после работы?
					li.about-faq-list-item
						.about-faq-list-item-image
							img(src="images/about/bad-mood.svg", alt="Study")
						p Занимаясь в группе, Вы ловили себя на мысли, что теряете время на этих занятиях, т.к. при большой наполненности группы Вам уделяли недостаточно внимания?
					li.about-faq-list-item
						.about-faq-list-item-image
							img(src="images/about/individual-question.svg", alt="Study")
						p Вы всегда хотели заниматься иностранным языком индивидуально, но хороший преподаватель живет слишком далеко от Вас?
				.about-faq-descroptions Если Вы столкнулись хотя бы с одной из ситуаций выше, тогда изучение иностранных языков по Скайпу – это Ваш вариант! Онлайн Школа изучения иностранных языков «LingvaFlavor» – это команда профессионалов, талантливых и интересных преподавателей из разных стран мира. Мы – люди, которые не просто любят свою работу. Мы живем ею!
				.about-faq-btn-wrapper.button-test.main-lesson__test-button записаться на бесплатный урок 
				h2.about-faq-title.title-red.title Изучение иностранных языков в онлайн Школе LF — это современно, доступно, эффективно и душевно! <br> Вы можете доверять нам!

include includes/footer.pug