html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main.about
    .container
        h1.about-first-title Онлайн Школа изучения иностранных языков LingvaFlavor – это команда профессионалов, талантливых и интересных преподавателей. Мы – люди, которые не просто любят свою работу – мы живем ею!
        ul.about-list-tasks
            li.about-list-tasks__item
                h2.list__title Наши две основные задачи:
            li.about-list-tasks__item Научить Вас свободно, без смущений и затруднений говорить на иностранных языках на любом уровне сложности.
            li.about-list-tasks__item Сделать так, чтобы Вы полюбили язык, который изучаете!
        p.about-subtitle "Мы хотим, чтобы любые негативные эмоции, связанные со школой, выветрились из Вашей умной головы, и Вы по-новому увидели изучение иностранных языков! Чтобы обучение не было Вам в тягость, а приносило только чудесные эмоции и прекрасный результат! Чтобы начав разговаривать уже с первого урока Вы, потирая ладони, усмехнулись сами себе и сказали: «Как же я жил до сих пор без этого языка…?»"
        h1.about-second-title 5 причин изучать иностранные языки по Скайпу в LingvaFlavor
        ul.about-list-reasons
            li.list-item
                img.list-item__image(src="images/about/custom-lessons.png", alt="Индивидуальный подход")
                h2.list-item__title Индивидуальный подход
                p.list-item__description В онлайн школе LingvaFlavor Вы – сами себе хозяин! Вы можете самостоятельно выбрать преподавателя, а также время и интенсивность занятий. Вы определяете удобное для себя расписание, и мы подстраиваемся под Вас. Вы больше не зависите от расписания, которое предлагает школа! Вы можете заниматься хоть каждый день в любое удобное для Вас время из любого удобного для Вас места. Мы подбираем для Вас индивидуальную программу обучения, основанную на Ваших способностях, целях и времени, которое Вы готовы посвятить обучению.
            li.list-item
                img.list-item__image(src="images/about/superteachers.png", alt="Сильные преподаватели")
                h2.list-item__title Сильные преподаватели
                p.list-item__description Наши преподаватели — это не просто люди, которые решили работать по специальности после получения диплома филолога. Это люди, которые живут своей работой, постоянно развиваются и предлагают захватывающие методы в своем подходе к преподаванию. Они делают так, что каждый урок становится чем-то особенным при этом не теряя своего профессионализма и следования методике.
            li.list-item
                img.list-item__image(src="images/about/effective-methods.png", alt="Эффективная методика")
                h2.list-item__title Эффективная методика
                p.list-item__description Коммуникативная методика,которой следуют наши преподаватели, признана самой эффективной на сегодняшний момент – эта методика основана на практическом подходе к языку: Вы начинаете разговаривать с первого урока, даже если Вы на начальном этапе обучения. Это методика, которая заточена на результат.
            li.list-item
                img.list-item__image(src="images/about/guaranteed-result.png", alt="Гарантированный результат")
                h2.list-item__title Гарантированный результат
                p.list-item__description Обучение в онлайн школе LingvaFlavor строго индивидуально! Это значит, что всё внимание преподавателя нацелено только на Вас. Больше не нужно ждать своей очереди, чтобы ответить на вопрос преподавателя или высказать свою точку зрения как при групповых занятиях! Ваш преподаватель – это Ваш личный репетитор, который заинтересован в результате точно так же как и Вы, а часто – даже больше!
            li.list-item
                img.list-item__image(src="images/about/partnership.png", alt="Доступность обучения и внимательное отношение")
                h2.list-item__title Доступность обучения и внимательное отношение
                ul.list-item__list-lessons
                    li.list-lessons__item Минимальное время вашего занятия 60 минут, а не 45.
                    li.list-lessons__item Больше не нужно оплачивать занятия за курс вперед – у нас Вы можете выбрать удобный пакет занятий.
                    li.list-lessons__item «заморозка» Вашего баланса по первому требованию
                    li.list-lessons__item Пробный урок и все учебные материалы – бесплатно!
        .faq
            ul.faq-list
                li.faq-list__item
                    h2.faq-list__title Подходят ли занятия по скайпу для вас?
                li.faq-list__item Вы давно хотели заняться изучением языков, но не хватало времени и сил?
                li.faq-list__item Вы нашли удобную школу, но периодически пропускали занятия и теряли деньги, потому что слишком уставали после работы?
                li.faq-list__item Занимаясь в группе, Вы ловили себя на мысли, что теряете время на этих занятиях, тк при большой наполненности группы Вам уделяли недостаточно внимания?
                li.faq-list__item Вы всегда хотели заниматься иностранным языком индивидуально, но хороший преподаватель живет слишком далеко от Вас?
                li.faq-list__item.item-descroption Если Вы столкнулись хотя бы с одной из ситуаций выше, тогда изучение иностранных языков по Скайпу – это Ваш вариант! Онлайн Школа изучения иностранных языков «LingvaFlavor» – это команда профессионалов, талантливых и интересных преподавателей из разных стран мира. Мы – люди, которые не просто любят свою работу. Мы живем ею!
                li.faq-list__item
                    button(type="button").btn-free-lesson Записаться на бесплатный пробный урок
        h2.about-underfooter-title Изучение иностранных языков в онлайн Школе LF — это современно, доступно, эффективно и душевно! Вы можете доверять нам!
        .about-quote Будем искренне рады видеть Вас в числе наших студентов!

    include includes/footer.pug