html(lang='ru')

include includes/head.pug 

body

	include includes/header.pug

	main.contacts
		section.contacts-social-links.contacts-section
			.container
				h1.contacts-social-links-header-title.title Контакты
				ul.contacts-social-links-list
					li.contacts-social-links-list-item
						.contacts-social-links-list-item-image
							img(src="images/contacts/viber.svg", alt="Viber").contacts-social-links-list-item-image-elem
							img(src="images/contacts/whatsapp.svg", alt="WhatsApp").contacts-social-links-list-item-image-elem
						.contacts-social-links-list-item-title Viber/WhatsApp
						.contacts-social-links-list-item-link +79053668789
						.contacts-social-links-list-item-description Пишите сообщения или звоните бесплатно через приложения
					li.contacts-social-links-list-item
						.contacts-social-links-list-item-image
							img(src="images/contacts/instagram.svg", alt="Instagram", width="80")
						.contacts-social-links-list-item-title Instargam
						.contacts-social-links-list-item-link @lingvaflavor_offical
						.contacts-social-links-list-item-description Следи за нами
					li.contacts-social-links-list-item
						.contacts-social-links-list-item-image
							img(src="images/contacts/gmail.svg", alt="Email", width="80")
						.contacts-social-links-list-item-title Email
						.contacts-social-links-list-item-link lingvaflavor20@yandex.ru
						.contacts-social-links-list-item-description Электронная почта для Ваших вопросов, предложений, пожеланий
					li.contacts-social-links-list-item
						.contacts-social-links-list-item-image
							img(src="images/contacts/skype.svg", alt="Skype", width="80")
						.contacts-social-links-list-item-title Skype
						.contacts-social-links-list-item-link LingvaFlavor
						.contacts-social-links-list-item-description Логин в скайпе: LingvaFlavor

		section.contacts-staff.contacts-section
			.container
				.contacts-staff-list
					li.contacts-staff-list-item
						.contacts-staff-list-item-image
							img(src="images/contacts/marina.jpg", alt="Марина Запольская")
						.contacts-staff-list-item-description
							.contacts-staff-list-item-description-title Марина Запольская — директор онлайн школы «LingvaFlavor»
							.contacts-staff-list-item-description-text.description 
								p Приглашаем Вас на уроки иностранных языков по Skype! Наши менеджеры с радостью ответят на Ваши вопросы по телефону, Skype или электронной почте с 9:00 до 20:00 (по московскому времени) в любой день недели.
								p Мы всегда готовы принять вашу заявку на обучение, выслушать ваши пожелания, подобрать подходящего преподавателя и курс обучения, а также решить текущие вопросы во время учебного процесса. Будем ждать ваших обращений!
					li.contacts-staff-list-item
						.contacts-staff-list-item-image
							img(src="images/contacts/marina.jpg", alt="Марина Запольская")
						.contacts-staff-list-item-description
							.contacts-staff-list-item-description-title Марина Запольская — директор онлайн школы «LingvaFlavor»
							.contacts-staff-list-item-description-text.description
								p Приглашаем Вас на уроки иностранных языков по Skype! Наши менеджеры с радостью ответят на Ваши вопросы по телефону, Skype или электронной почте с 9:00 до 20:00 (по московскому времени) в любой день недели.
								p Мы всегда готовы принять вашу заявку на обучение, выслушать ваши пожелания, подобрать подходящего преподавателя и курс обучения, а также решить текущие вопросы во время учебного процесса. Будем ждать ваших обращений!

		section.contacts-company-info.contacts-section
			.container
				ul.contacts-company-info-list
					li.contacts-company-info-list-item
						ul.contacts-company-info-list-item-list-info.contacts-company-info-list-item-list-detail
							li.contacts-company-info-list-item-list-info-item.contacts-company-info-list-item-list-detail-item
								.contacts-company-info-list-item-list-detail-item-title.list-title Юридические сведения о&nbsp;компании
							li.contacts-company-info-list-item-list-info-item.contacts-company-info-list-item-list-detail-item ЧОУ ДО Школа иностранных языков «Уникум»
							li.contacts-company-info-list-item-list-info-item.contacts-company-info-list-item-list-detail-item Юридический адрес: г. Пенза ул. Московская, 64
							li.contacts-company-info-list-item-list-info-item.contacts-company-info-list-item-list-detail-item ИНН: 5836140384
							li.contacts-company-info-list-item-list-info-item.contacts-company-info-list-item-list-detail-item ОГРН: 1025801364423
					li.contacts-company-info-list-item
						ul.contacts-company-info-list-item-list-requisites.contacts-company-info-list-item-list-detail
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item
								.contacts-company-info-list-item-list-detail-item-title.list-title Банковские реквизиты
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item Получатель: Березовская Маргарита Юрьевна
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item Банк: ПЕНЗЕНСКОЕ ОТДЕЛЕНИЕ N8624 ПАО СБЕРБАНК
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item Номер карты: 4276 4800 1677 2769
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item Расчетный счет: 40817810748005098084
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item Кор. счет: 30101810000000000635
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item БИК: 045655635
							li.contacts-company-info-list-item-list-requisites-item.contacts-company-info-list-item-list-detail-item SWIFT: SABRRUMM
			.about-faq-btn-wrapper.button-test.main-lesson__test-button работа для преподавателей



include includes/footer.pug