html(lang='ru')

include includes/head.pug

body

    include includes/header.pug

    main.spanish
        section.spanish-section.spanish-study
            .container
                h1 Изучение испанского онлайн по Скайпу
                .spanish-study-need 
                    p Необходимость владения английским языком в современном мире уже ни у кого не вызывает сомнений. А вот когда дело доходит до того, что неплохо бы выучить еще какой-нибудь язык, мнения расходятся, возникают вопросы: кто в мире на нем разговаривает, и есть ли смысл, если только в одной стране, станешь ли ты более востребованным специалистом со знанием этого языка, наконец, есть ли вообще объективные возможности без особого ущерба для себя в финансовом или каком угодно другом плане выучить этот язык?
                    p И здесь мы позволим себе аксиому – проще всего выучить язык, влюбившись в его культуру.

        section.spanish-section.spanish-price
            h2.red Персональные уроки испанского от 625 рублей за 60 минут
            .spanish-price-subtitle.subtitle Все языки по одной цене! Занимайтесь один на один, не выходя из дома, по цене ниже репетитора.
            
            .spanish-price-wrapper
                .spanish-price-wrapper-card
                    .spanish-price-wrapper-card-content
                        h2.spanish-price-wrapper-card-content-title ТАРИФ «СТАНДАРТ»
                        .spanish-price-wrapper-card-content-subtitle Общий разговорный / Бизнес курс / Для путешествий
                        ul.spanish-price-wrapper-card-content-language-list
                            li.spanish-price-wrapper-card-content-language-list-item ЯЗЫКИ:
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/gb.jpg", alt="Flag")
                                <span>АНГЛИЙСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/fr.jpg", alt="Flag")
                                <span>ФРАНЦУЗСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/ger.jpg", alt="Flag")
                                <span>НЕМЕЦКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/sp.jpg", alt="Flag")
                                <span>ИСПАНСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/it.jpg", alt="Flag")
                                <span>ИТАЛЬЯНСКИЙ</span>          
                        .spanish-price-wrapper-card-content-duration
                            .spanish-price-wrapper-card-content-duration-title Продолжительность занятия:
                            .spanish-price-wrapper-card-content-duration-time-wrapper
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 60 мин.
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 90 мин.
                        
                        .spanish-price-wrapper-card-content-duration-title Стоимость пакета:
                        .spanish-price-wrapper-card-content-duration-table
                            .spanish-price-wrapper-card-content-duration-table-title <span>кол-во занятий</span><span>стоимость занятия</span><span>стоимость пакета</span>
                            .spanish-price-wrapper-card-content-duration-table-content
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 4
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 8
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 16
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 24
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 690 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 660 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 625 ₽
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 2900 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 5520 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 10560 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1500 ₽
                            .button-test.main-lesson__test-button ЗАПИСАТЬСЯ НА БЕСПЛАНТЫЙ УРОК
                
                .spanish-price-wrapper-card
                    .spanish-price-wrapper-card-content
                        h2.spanish-price-wrapper-card-content-title ТАРИФ «AЗИАТСКИЙ»
                        .spanish-price-wrapper-card-content-subtitle Общий разговорный / Бизнес курс / Для путешествий  
                        ul.spanish-price-wrapper-card-content-language-list
                            li.spanish-price-wrapper-card-content-language-list-item ЯЗЫКИ:
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/ch.jpg", alt="Flag")
                                <span>КИТАЙСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/jp.jpg", alt="Flag")
                                <span>ЯПОНСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/kor.jpg", alt="Flag")
                                <span>КОРЕЙСКИЙ</span>        
                        .spanish-price-wrapper-card-content-duration
                            .spanish-price-wrapper-card-content-duration-title Продолжительность занятия:
                            .spanish-price-wrapper-card-content-duration-time-wrapper
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 60 мин.
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 90 мин.
                        
                        .spanish-price-wrapper-card-content-duration-title Стоимость пакета:
                        .spanish-price-wrapper-card-content-duration-table
                            .spanish-price-wrapper-card-content-duration-table-title <span>кол-во занятий</span><span>стоимость занятия</span><span>стоимость пакета</span>
                            .spanish-price-wrapper-card-content-duration-table-content
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 4
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 8
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 16
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 24
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 690 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 660 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 625 ₽
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 2900 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 5520 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 10560 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1500 ₽
                            .button-test.main-lesson__test-button ЗАПИСАТЬСЯ НА БЕСПЛАНТЫЙ УРОК
            
                .spanish-price-wrapper-card
                    .spanish-price-wrapper-card-content
                        h2.spanish-price-wrapper-card-content-title ТАРИФ «АРАБСКИЙ»
                        .spanish-price-wrapper-card-content-subtitle Общий разговорный / Бизнес курс / Для путешествий
                        ul.spanish-price-wrapper-card-content-language-list
                            li.spanish-price-wrapper-card-content-language-list-item ЯЗЫКИ:
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/tr.jpg", alt="Flag")
                                <span>ТУРЕЦКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/uae.jpg", alt="Flag")
                                <span>АРАБСКИЙ</span>        
                        .spanish-price-wrapper-card-content-duration
                            .spanish-price-wrapper-card-content-duration-title Продолжительность занятия:
                            .spanish-price-wrapper-card-content-duration-time-wrapper
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 60 мин.
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 90 мин.
                        
                        .spanish-price-wrapper-card-content-duration-title Стоимость пакета:
                        .spanish-price-wrapper-card-content-duration-table
                            .spanish-price-wrapper-card-content-duration-table-title <span>кол-во занятий</span><span>стоимость занятия</span><span>стоимость пакета</span>
                            .spanish-price-wrapper-card-content-duration-table-content
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 4
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 8
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 16
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 24
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 690 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 660 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 625 ₽
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 2900 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 5520 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 10560 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1500 ₽
                            .button-test.main-lesson__test-button ЗАПИСАТЬСЯ НА БЕСПЛАНТЫЙ УРОК

                .spanish-price-wrapper-card
                    .spanish-price-wrapper-card-content
                        h2.spanish-price-wrapper-card-content-title ТАРИФ «ЭКЗАМЕН»
                        .spanish-price-wrapper-card-content-subtitle Подготовка к TOEFL / IELTS / DELE / GOETHE / DELF
                        ul.spanish-price-wrapper-card-content-language-list
                            li.spanish-price-wrapper-card-content-language-list-item ЯЗЫКИ:
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/gb.jpg", alt="Flag")
                                <span>АНГЛИЙСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/fr.jpg", alt="Flag")
                                <span>ФРАНЦУЗСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/ger.jpg", alt="Flag")
                                <span>НЕМЕЦКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/sp.jpg", alt="Flag")
                                <span>ИСПАНСКИЙ</span>
                            li.spanish-price-wrapper-card-content-language-list-item
                                img.spanish-price-wrapper-card-content-language-list-item-image(src="images/flags/it.jpg", alt="Flag")
                                <span>ИТАЛЬЯНСКИЙ</span>             
                        .spanish-price-wrapper-card-content-duration
                            .spanish-price-wrapper-card-content-duration-title Продолжительность занятия:
                            .spanish-price-wrapper-card-content-duration-time-wrapper
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 60 мин.
                                .spanish-price-wrapper-card-content-duration-time-wrapper-item.button-test.main-lesson__test-button 90 мин.
                        
                        .spanish-price-wrapper-card-content-duration-title Стоимость пакета:
                        .spanish-price-wrapper-card-content-duration-table
                            .spanish-price-wrapper-card-content-duration-table-title <span>кол-во занятий</span><span>стоимость занятия</span><span>стоимость пакета</span>
                            .spanish-price-wrapper-card-content-duration-table-content
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 4
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 8
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 16
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 24
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 690 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 660 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 625 ₽
                                
                                ul.spanish-price-wrapper-card-content-duration-table-content-list
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 725 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 2900 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 5520 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 10560 ₽
                                    li.spanish-price-wrapper-card-content-duration-table-content-list-item 1500 ₽
                            .button-test.main-lesson__test-button ЗАПИСАТЬСЯ НА БЕСПЛАНТЫЙ УРОК
                        
                    

        section.spanish-section.spanish-knowledge
            .container
                h2.red Что дает знание испанского?
                .spanish-knowledge-subtitle.subtitle А вот еще несколько причин, почему испанский язык изучить стоит, и почему он обязательно Вам пригодится.

                .spanish-knowledge-wrapper

                    .spanish-knowledge-wrapper-column
                        ul.spanish-knowledge-wrapper-column-list.list
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Испанский — это родной язык 388 миллионов людей в 21 стране мира. Испанский язык по-настоящему увлекает и станет прекрасным выбором для людей, уже знающих английский (вы сможете понимать практически всех жителей Америки — как северной, так и Южной).
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Иногда достаточно базовых знаний в языке, чтобы работодатель выделил вас из толпы претендентов на работу, которой вы добиваетесь. С ростом испаноязычного населения в США и Европе все больше повышается спрос на работников, говорящих на испанском языке (увеличивается и количество мест, где требуется знание испанского)

                    .spanish-knowledge-wrapper-column
                        ul.spanish-knowledge-wrapper-column-list.list
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Жители Пиренейского полуострова и Латиноамериканцы по своей природе очень щедрые люди. И видя, что вы хотите активно участвовать в их жизни, а не просто быть пассивным зрителем, они вам окажут такой радушный прием, который вы долго не забудете. Но для этого необходимо знать испанский язык хотя быть на базовом уровне: уметь заказать еду в ресторане, договориться о скидке в магазине, пообщаться с таксистом.
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Жители Пиренейского полуострова и Латиноамериканцы по своей природе очень щедрые люди. И видя, что вы хотите активно участвовать в их жизни, а не просто быть пассивным зрителем, они вам окажут такой радушный прием, который вы долго не забудете. Но для этого необходимо знать испанский язык хотя быть на базовом уровне: уметь заказать еду в ресторане, договориться о скидке в магазине, пообщаться с таксистом.

        
        section.spanish-section.spanish-advantage
            .container
                h2.red Преимущества занятий Испанским по Скайпу в LF
                .spanish-advantage-wrapper

                    .spanish-advantage-wrapper-column
                        ul.spanish-advantage-wrapper-column-list.list
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/clock.svg", alt="Преимущества")
                                p Skype экономит Вам огромное количество времени, т.к. для того, чтобы начать урок, Вам нужен только компьютер и подключение к интернету — Вы можете заниматься из любого удобного для Вас места в любое удобное время. Никаких больше пробок после 6ти вечера и задыхания в вагоне метро после той же работы.
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/sneeze.svg", alt="Преимущества")
                                p Если Вы приболели, но не хотите пропускать урок, ничего страшного — на улицу Вам выходить не придется и преподавателя Вы не заразите, как ни старайтесь!
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/calendar.svg", alt="Преимущества")
                                p Вы можете сами составлять свое расписание, ведь уроки в нашей школе — это как занятие с личным репетитором. Вы всегда можете договориться об отмене или переносе занятия без финансовых потерь.

                    .spanish-advantage-wrapper-column
                        ul.spanish-advantage-wrapper-column-list.list
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/dictionary.svg", alt="Преимущества")
                                p Вам не придется покупать учебники — мы предоставляем их Вам бесплатно в электронном виде после составления программы обучения специально под Ваши цели и пожелания.
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/price.svg", alt="Преимущества")
                                p Цены на уроки в нашей школе существенно ниже занятий с репетитором вживую — записывайтесь на бесплатный пробный урок и оплачивайте удобный пакет занятий наличным или безналичным способом.
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/diploma.svg", alt="Преимущества")
                                p По окончании обучения Вы получаете сертификат, который можете предъявить работодателю.

                .button-test.main-lesson__test-button записаться на занятие


    include includes/footer.pug