html(lang='ru')

include includes/head.pug

body

    include includes/header.pug

    main.spanish
        section.spanish-section.spanish-study
            .container
                h1 Изучение испанского онлайн по Скайпу
                .spanish-study-need 
                    p Необходимость владения английским языком в современном мире уже ни у кого не вызывает сомнений. А вот когда дело доходит до того, что неплохо бы выучить еще какой-нибудь язык, мнения расходятся, возникают вопросы: кто в мире на нем разговаривает, и есть ли смысл, если только в одной стране, станешь ли ты более востребованным специалистом со знанием этого языка, наконец, есть ли вообще объективные возможности без особого ущерба для себя в финансовом или каком угодно другом плане выучить этот язык?
                    p И здесь мы позволим себе аксиому – проще всего выучить язык, влюбившись в его культуру.

        section.spanish-section.spanish-price
            .container
                h2.red Персональные уроки испанского от 625 рублей за 60 минут
                .spanish-price-subtitle.subtitle Все языки по одной цене! Занимайтесь один на один, не выходя из дома, по цене ниже репетитора.
                
                .spanish-price-wrapper
        

        section.spanish-section.spanish-knowledge
            .container
                h2.red Что дает знание испанского?
                .spanish-knowledge-subtitle.subtitle А вот еще несколько причин, почему испанский язык изучить стоит, и почему он обязательно Вам пригодится.

                .spanish-knowledge-wrapper

                    .spanish-knowledge-wrapper-column
                        ul.spanish-knowledge-wrapper-column-list.list
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Испанский — это родной язык 388 миллионов людей в 21 стране мира. Испанский язык по-настоящему увлекает и станет прекрасным выбором для людей, уже знающих английский (вы сможете понимать практически всех жителей Америки — как северной, так и Южной).
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Иногда достаточно базовых знаний в языке, чтобы работодатель выделил вас из толпы претендентов на работу, которой вы добиваетесь. С ростом испаноязычного населения в США и Европе все больше повышается спрос на работников, говорящих на испанском языке (увеличивается и количество мест, где требуется знание испанского)

                    .spanish-knowledge-wrapper-column
                        ul.spanish-knowledge-wrapper-column-list.list
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Жители Пиренейского полуострова и Латиноамериканцы по своей природе очень щедрые люди. И видя, что вы хотите активно участвовать в их жизни, а не просто быть пассивным зрителем, они вам окажут такой радушный прием, который вы долго не забудете. Но для этого необходимо знать испанский язык хотя быть на базовом уровне: уметь заказать еду в ресторане, договориться о скидке в магазине, пообщаться с таксистом.
                            li.spanish-knowledge-wrapper-column-list-item
                                .spanish-knowledge-wrapper-column-list-item-image
                                    img(src="images/star.svg", alt="Знание языка")
                                p Жители Пиренейского полуострова и Латиноамериканцы по своей природе очень щедрые люди. И видя, что вы хотите активно участвовать в их жизни, а не просто быть пассивным зрителем, они вам окажут такой радушный прием, который вы долго не забудете. Но для этого необходимо знать испанский язык хотя быть на базовом уровне: уметь заказать еду в ресторане, договориться о скидке в магазине, пообщаться с таксистом.

        
        section.spanish-section.spanish-advantage
            .container
                h2.red Преимущества занятий Испанским по Скайпу в LF
                .spanish-advantage-wrapper

                    .spanish-advantage-wrapper-column
                        ul.spanish-advantage-wrapper-column-list.list
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/clock.svg", alt="Преимущества")
                                p Skype экономит Вам огромное количество времени, т.к. для того, чтобы начать урок, Вам нужен только компьютер и подключение к интернету — Вы можете заниматься из любого удобного для Вас места в любое удобное время. Никаких больше пробок после 6ти вечера и задыхания в вагоне метро после той же работы.
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/sneeze.svg", alt="Преимущества")
                                p Если Вы приболели, но не хотите пропускать урок, ничего страшного — на улицу Вам выходить не придется и преподавателя Вы не заразите, как ни старайтесь!
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/calendar.svg", alt="Преимущества")
                                p Вы можете сами составлять свое расписание, ведь уроки в нашей школе — это как занятие с личным репетитором. Вы всегда можете договориться об отмене или переносе занятия без финансовых потерь.

                    .spanish-advantage-wrapper-column
                        ul.spanish-advantage-wrapper-column-list.list
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/dictionary.svg", alt="Преимущества")
                                p Вам не придется покупать учебники — мы предоставляем их Вам бесплатно в электронном виде после составления программы обучения специально под Ваши цели и пожелания.
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/price.svg", alt="Преимущества")
                                p Цены на уроки в нашей школе существенно ниже занятий с репетитором вживую — записывайтесь на бесплатный пробный урок и оплачивайте удобный пакет занятий наличным или безналичным способом.
                            li.spanish-advantage-wrapper-column-list-item
                                .spanish-advantage-wrapper-column-list-item-image
                                    img(src="images/spanish/diploma.svg", alt="Преимущества")
                                p По окончании обучения Вы получаете сертификат, который можете предъявить работодателю.

                .button-test.main-lesson__test-button записаться на занятие


    include includes/footer.pug