html(lang='ru')

include includes/head.pug

body

	include includes/header.pug

	main.vacancies

		section.vacancies-section.vacancies-work-lf
			.container
				h1 Вакансии для предподователей инностранных языков
				.vacancies-work-lf-content
					.vacancies-work-lf-content-title
						.vacancies-work-lf-content-title-image
							img(src="images/vacancies/cup.svg", alt="Работайте в LingvaFlavor")
						h2.red Работайте в LingvaFlavor
					ul.vacancies-work-lf-content-list.list
						li.vacancies-work-lf-content-list-item 
							.vacancies-work-lf-content-list-item-icon
								img(src="images/vacancies/star.svg", alt="Point") 
							p Интересная и комфортная работа для преподавателей английского,испанского, французского, итальянского, немецкого и китайского языков в онлайн школе LingvaFlavor.
						li.vacancies-work-lf-content-list-item 
							.vacancies-work-lf-content-list-item-icon
								img(src="images/vacancies/star.svg", alt="Point") 
							p Мы приглашаем талантливых и ответственных преподавателей в нашу команду для проведения  индивидуальных занятий по Skype.
						li.vacancies-work-lf-content-list-item 
							.vacancies-work-lf-content-list-item-icon
								img(src="images/vacancies/star.svg", alt="Point") 
							p Принцип работы в нашей школе – занятия со студентами в качестве индивидуального репетитора – Вам наверняка знаком, однако стоит иметь ввиду, что Skype уроки все же немного отличаются от уроков вживую, поэтому прежде чем оставить нам свое резюме, убедитесь, что онлайн преподавание будет комфортным для Вас.
						li.vacancies-work-lf-content-list-item 
							.vacancies-work-lf-content-list-item-icon
								img(src="images/vacancies/star.svg", alt="Point") 
							p Наши студенты, в основном, взрослые люди, которые хотят заниматься после работы в вечернее время, поэтому мы приветствуем наличие у Вас 15 и более свободных вечерних часов в неделю.
						li.vacancies-work-lf-content-list-item 
							.vacancies-work-lf-content-list-item-icon
								img(src="images/vacancies/star.svg", alt="Point") 
							p Оплата Вашей работы рассчитывается из количества проведенных часов. Мы обеспечиваем Вам нагрузку, достаточную для того, чтобы Вы могли работать только у нас. Доход наших преподавателей – <span>20,000 — 40,000 рублей в месяц.</span>
		
		section.vacancies-section.vacancies-search
			.container
				h2.vacancies-search-title.red Кого мы ищем

				.vacancies-search-content
					.vacancies-search-content-block
						.vacancies-search-content-block-header
							.vacancies-search-content-block-header-image
								img(src="images/vacancies/search/exp.svg", alt="С Опытом")
							.vacancies-search-content-block-header-title С ОПЫТОМ
						ul.vacancies-search-content-block-list.list
							li.vacancies-search-content-block-list-item 
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Вы преподаете ученикам среднего и высокого уровня
							li.vacancies-search-content-block-list-item 
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Опыт более года
							li.vacancies-search-content-block-list-item
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p  Владеете языком на уровне Intermediate или Upper-intermediate
							li.vacancies-search-content-block-list-item
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Доброжелательны, умеете следовать плану и отслеживать прогресс
							li.vacancies-search-content-block-list-item
								.about-faq-btn-wrapper.button-test.main-lesson__test-button подать заявку
					
					.vacancies-search-content-logo-wrapper
						img(src="images/logo.svg" alt="лого" class="logo__icon")

					.vacancies-search-content-block
						.vacancies-search-content-block-header
							.vacancies-search-content-block-header-title ЭКСПЕРТЫ
							.vacancies-search-content-block-header-image
								img(src="images/vacancies/search/expert.svg", alt="Эксперты")
						ul.vacancies-search-content-block-list.list
							li.vacancies-search-content-block-list-item
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Вы преподаете ученикам любого уровня
							li.vacancies-search-content-block-list-item
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Опыт более 5 лет
							li.vacancies-search-content-block-list-item
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Владеете языком на уровне Advanced или Proficiency
							li.vacancies-search-content-block-list-item
								.vacancies-search-content-block-list-item-image
									img(src="images/vacancies/search/medal.svg", alt="С Опытом")
								p Имеете профильное лингвистическое (педагогическое) образование
							li.vacancies-search-content-block-list-item
								.about-faq-btn-wrapper.button-test.main-lesson__test-button подать заявку

		section.vacancies-section.vacancies-conditions-expectations
			.container
				h2.red Мы предлагаем 
				.vacancies-conditions-expectations-wrapper

					.vacancies-conditions-expectations-wrapper-column
						ul.vacancies-conditions-expectations-wrapper-column-list.list
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/conditions/work-from-home.svg", alt="Работа из дома")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Работа из дома
								p Вы работаете из дома и не тратите время и деньги на дорогу до студента и обратно и можете «вместить» больше уроков в день.
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/conditions/payment.svg", alt="Выплаты в удобное для Вас время")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Выплаты в удобное для Вас время
								p Мы ценим и уважаем наших преподавателей и производим выплаты за проведенные занятия по первому требованию.

					.vacancies-conditions-expectations-wrapper-column
						ul.vacancies-conditions-expectations-wrapper-column-list.list
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/conditions/materials.svg", alt="Доступ ко всем учебным материалам")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Доступ ко всем учебным материалам
								p Все учебные материалы по всем языкам Вы можете скачать из нашей онлайн библиотеки. Все материалы современны и аутентичны. Вы также можете делиться своими материалами с Вашими коллегами.
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/conditions/giftbox.svg", alt="Бонусы и преимущества")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Бонусы и преимущества
								p Работая у нас продолжительное время Вы можете получать премии, а также писать статьи для нашего блога, увеличивая свой доход и статус в базе преподавателей.

		section.vacancies-section.vacancies-conditions-expectations
			.container
				h2.red Мы ожидаем 
				.vacancies-conditions-expectations-wrapper

					.vacancies-conditions-expectations-wrapper-column
						ul.vacancies-conditions-expectations-wrapper-column-list.list
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/expectations/work-exp.svg", alt="Опыт работы")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Опыт работы, образование.
								p Мы приветствуем Ваш опыт работы от 3х лет и филологическое образование. Также плюсом будет наличие международных сертификатов.
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/expectations/knowledge.svg", alt="Уровень владения языком")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Уровень владения языком
								p Мы приветствуем Ваш опыт работы от 3х лет и филологическое образование. Также плюсом будет наличие международных сертификатов.

					.vacancies-conditions-expectations-wrapper-column
						ul.vacancies-conditions-expectations-wrapper-column-list.list
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/expectations/internet.svg", alt="Быстрый Интернет")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Быстрый Интернет
								p Для комфортного ведения уроков у Вас должен быть постоянный доступ в интернет с хорошей скоростью, наличие аудио гарнитуры и веб-камеры.
							li.vacancies-conditions-expectations-wrapper-column-list-item
								.vacancies-conditions-expectations-wrapper-column-list-item-header
									.vacancies-conditions-expectations-wrapper-column-list-item-header-image
										img(src="images/vacancies/expectations/horizon.svg", alt="Опыт и кругозор")
									.vacancies-conditions-expectations-wrapper-column-list-item-header-title Опыт и кругозор
								p Мы приветствуем Ваш опыт проживания заграницей, регулярные путешествия и общение с носителями языка, а также умение поддержать беседу на любые темы.

		section.vacancies-section.vacancies-team
			.container
				h2.red Как попасть в команду<br>LingvaFlavor
				ul.vacancies-team-list.list
					li.vacancies-team-list-item
						.vacancies-team-list-item-header
							<span>1</span>
							.vacancies-team-list-item-header-image
								img(src="images/vacancies/team/raise-hand.svg", alt="Заявка")
						p Оставьте заявку
					li.vacancies-team-list-item
						.vacancies-team-list-item-header
							<span>2</span>
							.vacancies-team-list-item-header-image
								img(src="images/vacancies/team/form.svg", alt="Анкета")
						p Ожидайте приглашение на интервью
					li.vacancies-team-list-item
						.vacancies-team-list-item-header
							<span>3</span>
							.vacancies-team-list-item-header-image
								img(src="images/vacancies/team/testing.svg", alt="Тест")
						p Пройдите онлайн собеседование

				.vacancies-team-form
					form(action="#")
						.vacancies-team-form-input-wrapper
							input(type="text", placeholder="ФИО", name="user_name", minlength="2")
							input(type="text", placeholder="Skype", name="user_skype", maxlength="50")
							input(type="email", placeholder="Email", name="user_email", maxlength="50")
						button(type="submit").about-faq-btn-wrapper.button-test.main-lesson__test-button Начать предподовать
				






			
					


	include includes/footer.pug